snippet Def "Definition environment"
\begin{Definition}{${1:object_to_define}}{${2:ref}}
${3:Concept} is a .
\end{Definition}
endsnippet


snippet Ref "References environment"
\begin{References}{$1}{$2}
${1:Concept} is a .
\end{References}
endsnippet
